/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
* These variables are specific to the Pattern Lab shell and exist
* indepenedently of any project-specific styles
*/

// Colors
$pl-color-white: color("white");
$pl-color-gray-02: color("gray-2");
$pl-color-gray-07: color("gray-5");
$pl-color-gray-13: color("gray-10");
$pl-color-gray-20: color("gray-20");
$pl-color-gray-50: color("gray-40");
$pl-color-gray-70: color("gray-50");
$pl-color-gray-87: color("gray-70");
$pl-color-black: color("base-darkest");

$pl-color-trans-white-25: rgba(255,255,255,0.25);

$pl-color-state-info: #02A4D5;
$pl-color-state-complete: #03790F;
$pl-color-state-inreview: #C7A118;
$pl-color-state-deprecated: #B00B02;

// Font Family
$pl-font: family("sans");

// Font sizes
$pl-font-size-sm: size("sans", "xs");
$pl-font-size-sm-2: size("sans", "sm");
$pl-font-size-norm: size("sans", "md");
$pl-font-size-large: size("sans", "lg");

// Spacing & Padding
$pl-space: 1rem;
$pl-doublespace: $pl-space*2;
$pl-pad: 1rem;
$pl-pad-half: $pl-pad/2;
$offset-top: 2rem;

// Breakpoints
$pl-bp-med: 42em;
$pl-bp-large: 53em;
$pl-bp-xl: 62em;

// Animations
$pl-animate-quick: 0.1s;

// Borders
$pl-border-radius: 3px;
$pl-border-radius-med: 6px;